<!DOCTYPE html>
<html lang="en">
	<link rel="icon" href="static/images/favicon.png" type="image/png" />
<head>
	
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
</head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<div class="header_section">
	<div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="logo"><a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}"></a></div>
          	            <div class="menu_text">
          	            	<div class="menu_main">
							<span class="padding_left0"><a href="InvoiceGenerator">Generate Invoice</a></span><br><br>
          	            	<span class="padding_left0"><a href="QRGenerator">Generate QR</a></span><br><br>
          	            	<span class="padding_left0"><a href="EditServices">Edit Services</a></span><br><br>
							<span class="padding_left0"><a href="QuoteRequests">Quote Requests</a></span><br><br>
          	            	</div>
          </div>
          <div class="col-sm-5">
            <div><img src="{{ url_for('static', filename='images/img-1.png') }}"></div>
          </div>
          <div class="col-md-1">

				<div class="col-sm-5">
              <ul>
                <div class="togle_3">


					<body>
						<body style="background-color: #addaed;">
					    
					</body>
				</div>
			</ul>
		</div>
	</div>
</div>
</html>
