<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="icon" href="static/images/favicon.png" type="image/png" />
<style>
    

    .menu_text {
        width: 500px; /* Adjust the size as needed */
        max-width: 50%;
        position:absolute; left:1050px; top:175px;

    }   

</style>
<div class="header_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="logo"><a href="/"><img src="{{ url_for('static', filename='images/logo.png') }}"></a></div>
                <div class="menu_text">
                    <h1>QR Code</h1>
                    <div class="qr-code-container">
                        <div class="qr-code">
                            <img src="data:image/png;base64,{{ qr_code_base64 }}" alt="QR Code">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div><img src="{{ url_for('static', filename='images/img-1.png') }}"></div>
            </div>
            <div class="col-md-1">
                <div class="menu_text">
                    <div class="col-sm-5">
                        <ul>
                            <div class="togle_3">
                                <head>
                                    <meta charset="UTF-8">
                                    <title>QRInvoice</title>
                                </head>
                                <body>
                                    <body style="background-color: #addaed;">
                                </body>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
