<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/invoicestyle.css') }}" media="all" />
</head>
<style>
  .quote-form input[type="submit"] {
		height: 40px;
		width: 140px;
		background-color: #3B5998;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
    .qr-code-container {
        width: 50px; 
        max-width: 50%;
        position:absolute; left:700px; top:625px;

    } 
</style>
<body>
    <main>
        <h1 class="clearfix">
            <small><span>DATE</span><br />February 16, 2023</small>
            <span id="randomString"></span>
            <small><span>DUE DATE</span><br /> September 17, 2024</small>
        </h1>
        <script>
            let r = (Math.random() + 1).toString(36).substring(5);
            document.getElementById('randomString').textContent = "Invoice: " + r;
        </script>
        <table>
            <thead>
                <tr>
                    <th class="service">SERVICE</th>
                    <th class="desc"></th>
                    <th>PRICE</th>
                    <th>QTY</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="service">Workmanship</td>
                    <td class="desc"></td>
                    <td class="unit">$39.99</td>
                    <td class="qty">10</td>
                    <td class="total">$399.99</td>
                </tr>
                <tr>
                    <td class="service">{{ service_chosen }}</td>
                    <td class="desc"></td>
                    <td class="unit"><span id="randomNumber1"></span></td>
                    <td class="qty">{{ quantity_chosen }}</td>
                    <td class="total"><span id="randomNumber2"></span></td>
                </tr>
                <tr>
                    <td colspan="4" class="sub">SUBTOTAL</td>
                    <td class="sub total"><span id="total"></span></td>
                </tr>
                <tr>
                    <td colspan="4">TAX 25%</td>
                    <td class="total">$99.99</td>
                </tr>
                <tr>
                    <td colspan="4" class="grand total">GRAND TOTAL</td>
                    <td class="grand total"><span id="randomNumber3"></span></td>
                </tr>
            </tbody>
        </table>
        <div id="details" class="clearfix">
            <div id="project">
                <div class="arrow"><div class="inner-arrow"><span>PROJECT</span> {{ project_name }}</div></div>
                <div class="arrow"><div class="inner-arrow"><span>CLIENT</span> {{ client_name }}</div></div>
                <div class="arrow"><div class="inner-arrow"><span>ADDRESS</span> {{ client_address }}</div></div>
                <div class="arrow"><div class="inner-arrow"><span>EMAIL</span> {{ client_email }}</div></div>
            </div>
            <div id="company">
                <div class="arrow back"><div class="inner-arrow">Company Name <span>iClean</span></div></div>
                <div class="arrow back"><div class="inner-arrow">31 Spooner Street, RI 00093, US <span>ADDRESS</span></div></div>
                <div class="arrow back"><div class="inner-arrow">(123) 456-789 <span>PHONE</span></div></div>
                <div class="arrow back"><div class="inner-arrow"><a href="mailto:contact@capiclean.htb">contact@capiclean.htb</a> <span>EMAIL</span></div></div>
            </div>
        </div>
        <div id="notices">
            <div>NOTICE:</div>
            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
        </div>
        <script>
            let randomNumber1 = Math.floor(Math.random() * 100);
            document.getElementById('randomNumber1').textContent = "$" + randomNumber1;
            let randomNumber = Math.floor(Math.random() * 10000);
            document.getElementById('randomNumber2').textContent = "$" + randomNumber + ".99";
            document.getElementById('randomNumber3').textContent = "$" + (randomNumber + 399.99 + 100);
            let total = document.getElementById('total').textContent = (randomNumber + 399) + ".99";
        </script>
    </main>
</body>
</html>
