{%  load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="icon" href="static/images/favicon.png" type="image/png" />
<style>
	.menu_text button[type="submit"] {
	height: 40px;
	width: 100px;
	background-color: #3B5998;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
</style>
<div class="header_section">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}"></a></div>
                        <div class="menu_text">
                  <h1>Edit Service Details</h1>
                  <form method="POST">
                    {% csrf_token %}
                    <label for="id_service_name">Service name:</label>
                    {{ form.service_name }}
                    <br>
                    <label for="id_service_description">Service description:</label>
                    {{ form.service_description }}
                    <br>
                    <label for="id_service_price">Service price:</label>
                    {{ form.service_price }}
                    <br>
                    <label for="id_service_qty">Service quantity:</label>
                    {{ form.service_qty }}
                    <br>
                    <button type="submit">Save</button>
                </form>
          </div>
          <div class="col-sm-5">
            <div><img src="{% static 'images/img-1.png' %}"></div>
          </div>
          <div class="col-md-1">
            <div class="menu_text">
                <div class="col-sm-5">
              <ul>
                <div class="togle_3">

                    <head>
                        <meta charset="UTF-8">
                        <title>Edit services</title>
                    </head>
                    <body>
                        <body style="background-color: #addaed;">
                        
                    </body>
                </div>
            </ul>
        </div>
    </div>
</div>
</html>
