<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="header_section">
  <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">
            <div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}"></a></div>
                        <div class="menu_text">
                                <head>
                    <title>Register User</title>
                  </head>
                  <body>
                    <body style="background-color:#addaed;">
                    <h1>Register User</h1>
                    <form action="/register" method="post">
                      <label for="username">Username:</label>
                      <input type="text" id="username" name="username"><br><br>
                      <label for="password">Password:</label>
                      <input type="password" id="password" name="password"><br><br>
                      <input type="submit" value="Register">
                    </form>
                    <div id="message"></div>
                    <script>
                      const form = document.querySelector('form');
                      const message = document.querySelector('#message');
                      form.addEventListener('submit', async (event) => {
                        event.preventDefault();
                        const formData = new FormData(form);
                        const payload = {};
                        for (const [key, value] of formData) {
                          payload[key] = value;
                        }
                        const response = await fetch('/register', {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json'
                          },
                          body: JSON.stringify(payload)
                        });
                        const json = await response.json();
                        message.innerHTML = json.message;
                      });
                    </script>
          </div>
          <div class="col-sm-5">
            <div><img src="{% static 'images/img-1.png' %}"></div>
          </div>
          <div class="col-md-1">
            <div class="menu_text">
        <div class="col-sm-5">
              <ul>
                <div class="togle_3">

          <head>
              <meta charset="UTF-8">
              <title>Login</title>
          </head>
          <body>
            <body style="background-color: #addaed;">
              
          </body>
        </div>
      </ul>
    </div>
  </div>
</div>
</html>
